{% extends 'index.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block menu %} {% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/loginregister.css' %}">
<div class="materialContainer">
   <form action="." method="POST">
   {% csrf_token %}
      <div class="box">
         <div class="title">СМЕНА ПАРОЛЯ</div>
         <div class="input">
            <input type="email" name="email" autocomplete="email" id="id_email" required class="form-control" placeholder="Email">
            <span class="spin"></span>
         </div>
         <div class="button login">
            <button value="Send e-mail" type="submit"><span>Сменить</span> <i class="fa fa-check"></i></button>
         </div>
         <a href="{% url 'inspection:start_page' %}" class="pass-forgot">На главную</a>
      </div>
   </form>
</div>

<script src="{% static 'js/registerlogin.js' %}"></script>

{% endblock %}
