{% extends 'index.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block menu %} {% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/loginregister.css' %}">
<div class="materialContainer">

    <form action="." method="POST">
        {% csrf_token %}
        <div class="box">
            <div class="title">СМЕНА ПАРОЛЯ</div>
                {% if validlink %}
                    <div class="input">
                        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" placeholder="Новый пароль">
                        <span class="spin"></span>
                    </div>

                    <div class="input">
                       <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Повторите пароль">
                       <span class="spin"></span>
                    </div>
                    <div class="button login">
                        <button value="Send e-mail" type="submit"><span>Сменить пароль</span> <i class="fa fa-check"></i></button>
                    </div>
                    <a href="{% url 'inspection:start_page' %}" class="pass-forgot">На главную</a>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}
        </div>
    </form>
</div>

<script src="{% static 'js/registerlogin.js' %}"></script>

{% endblock %}



