{% extends 'index.html' %}
{% load static %}
{% block title %} {{ log.job_type }} {% endblock %}
{% block body %}
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->

    <!-- header-end -->

    <!-- bradcam_area  -->

    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{ log.substation_name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div  class="job_details_area">

            <div  class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#" style="text-decoration: none;"><h4>{{ log.job_type }}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-user"></i> {{ log.user_name_id.last_name}} {{ log.user_name_id.first_name.0}}.</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> {{ log.date_record|date:"d.m.Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    {% if log.note %}
                                    <a class="warning" href="#s" onclick="return false"> <i class="heart_mark fa fa-exclamation-triangle"></i> </a>
                                    {% else %}
                                    <a class="heart_mark" href="#" onclick="return false"> <i class="fa fa-check"></i> </a>
                                    {% endif %}
                                    <a href="{% url 'inspection:update_log' log.id %}" class="boxed-btn3">Изменить</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Описание</h4>
                            <p>{{ log.record }}</p>
                            <p></p>
                        </div>
                        <div class="single_wrap" >
                            <div class="popup-gallery">
                                <div class="section-top-border">
                                    <div class="row gallery-item">
                                        {% for img in image_list%}
                                        <div class="col-md-4">
                                            <a href="/static/downloadimages/{{ log_id }}/{{ img }}" class="img-pop-up del-img">
                                                <div class="single-gallery-image" style="background: url(/static/downloadimages/{{ log_id }}/{{ img }})"></div>
                                            </a>
                                            <a href="{% url 'inspection:delete_img' log.id img %}">Удалить</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'inspection:delete_log' log.id %}" class="boxed-btn3">Удалить</a>
                    </div>
                </div>
                {% if location_of_substation %}

                <div class="col-lg-4">
                    <div class="bradcam_text">
                        <h3>Место расположения</h3>
                    </div>
                    <div class="job_location_wrap">
                        <div class="job_lok_inner">
                            <script type="text/javascript" charset="utf-8" async src={{location_of_substation}}></script>
                          </div>
                    </div>
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>

    </div>




    <!-- footer start -->

    <!--/ footer end  -->


    <!-- link that opens popup -->
    <!-- JS here -->




<!-- magnific-popup галерея js -->
{% endblock %}

<script>
        $(document).ready(function() {
            $('.popup-gallery').magnificPopup({
                delegate: '.del-img',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function(item) {
                        return item.el.attr('title');
                    }
                }
            });
        });
</script>
