{% extends 'index.html' %}
{% load static %}
{% block title %} Запись в журнал {% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/animation_load.css' %}">

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Запись в журнал</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!--Анимация загрузки POST запроса-->
<div id="check" >
   <div class="text-center modal_load">
      <div class="spinner-border text-info" role="status" style="width: 10rem; height: 10rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</div>

{% if perms.inspection.add_inspection_log %}
<form enctype="multipart/form-data" action="." method="POST" id="animation_load">
{% csrf_token %}
    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="apply_job_form white-bg">
<!--                        <h4>Apply for the job</h4>-->
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input_field">
                                        {{ form.job_type }}
<!--                                        <input type="text" placeholder="Your name">-->
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input_field">
                                        {{ form.substation_name }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        {{ form.record }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                          </button>
                                        </div>
                                        <div class="custom-file">
<!--                                             <input class="form-control" type="file" id="formFileMultiple" multiple>-->
<!--                                             <label for="formFileMultiple" class="form-label">Multiple files input example</label>-->

                                            <input type="file" class="custom-file-input" id="customFile" aria-describedby="inputGroupFileAddon03" multiple="multiple" name="myFile">
                                            <label class="custom-file-label" for="customFile" >Загрузить фото</label>
                                        </div>


                                      </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="input_field">
                                        {{ form.date_record }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="switch-wrap d-flex justify-content-between">
								        <p>Обратить внимание перед следующей поездкой</p>
                                        <div class="check-warning">
                                            {{ form.note }}
                                        </div>
							        </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Сохранить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</form>
{% else %}
    <h2>Вы не можете вносить записи</h2>
{% endif %}

<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

<!--Формат даты-->
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format : 'dd-mm-yyyy'
        });
    });

</script>

<!--Количество выбранных файлов-->
<script>
    $(".custom-file-input").on("change", function() {
        var myFile = $(this).val().split("\\").pop();
        var numFiles = $(this).get(0).files.length
        if (numFiles == 1) {
            $(this).siblings(".custom-file-label").addClass("selected").html(myFile);
        }
        else {
            $(this).siblings(".custom-file-label").addClass("selected").html('Число файлов: ' + numFiles);
        }
    });
</script>

<!--Ajax с анимацией загрузки-->
<script>
$(document).ready(function () {
    $("#animation_load").submit(function (event) {
        event.preventDefault();
        var data = new FormData($('#animation_load').get(0));
        $.ajax({
            type: "POST",
            url: "",
            data : data,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function() {
                $("#check").show();
            },
            complete: function(){
            },
            success: function (data) {
                $("#check").hide();
                window.location = "{% url 'inspection:inspection_log' %}"
            }
        });
    });
});
</script>
{% endblock %}

