{% extends 'index.html' %}
{% load static %}
{% block title %} Рассположение объёктов {% endblock %}
{% block body %}
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->

    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Рассположение объектов</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h4>Быстрый поиск</h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-end input_field">
                                        <input class="form-control form-control-lg" type="text" aria-label="default input example" id="InputFastSearch" onkeyup="myFunction()">
                                    </div>
                                </div>
                            </div>
                     </div>
                 </div>

                <div id="fastsearch">
                    <div class="popular_catagory_area">
                        <div class="container">
                            <div class="row">
                                {% for object, coordinates in objects_location.items %}
                                    <!-- Modal -->

                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Месторасположение {{ object }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ name }}
                                                    <div class="job_location_wrap">
                                                        <div class="job_lok_inner">
                                                            <script type="text/javascript" charset="utf-8" async src={{coordinates}}></script>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-xl-3 col-md-6">
                                        <div class="single_catagory">
                                            <a href="#" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal"><h4>{{object}}</h4></a>
<!--                                            <p> <span>50</span> Кол-во посещений</p>-->
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
<!-- Modal -->

<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered" style="max-width: 900px">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Месторасположение {{object}}</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                {{name}}-->
<!--                <div class="job_location_wrap">-->
<!--                    <div class="job_lok_inner">-->
<!--                        <script type="text/javascript" charset="utf-8" async src={{coordinates}}></script>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--Быстрый поиск-->
    <script>
    function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("InputFastSearch");
        filter = input.value.toUpperCase();
        ul = document.getElementById("fastsearch");
        li = ul.getElementsByTagName("div");
        for (i = 0; i < li.length; i++) {
            a = li[i];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>

{% endblock %}