{% extends 'index.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block menu %} {% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/loginregister.css' %}">
<div class="materialContainer">

	<form action="." method="POST">
	{% csrf_token %}
        <div class="box">
            <div class="title">СМЕНА ПАРОЛЯ</div>
            <p style="margin-top: 20%;">
                Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который вы зарегистрировались, и проверьте папку со спамом.
            </p>
            <a href="{% url 'inspection:start_page' %}" class="pass-forgot">На главную</a>
        </div>
    </form>
</div>

  <script src="{% static 'js/registerlogin.js' %}"></script>
{% endblock %}